body {
  margin: 0;
  padding: 0;
}

.container{
  background-color: #1E1E1E;
  align-items: center;
  justify-content: center;
}

.main-front {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ryoshi {
  align-self: center;
}

.father {
  margin-bottom: 40px;
  font-size: 70px;
  color: rgb(255, 255, 255);
  font-weight: 400;
}

.father-subheading {
  margin-bottom: 40px;
  color: rgb(88, 88, 88);
  font-size: 13px;
}

.ryoshi-btns {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.buy-on-ryoshiswap {
  color: #1E1E1E;
  padding: 10px;
  background: #DEBA5E;
  border: 1px solid #DEBA5E;
  border-radius: 5px;
}

.explor-ryoshi {
  color: #DEBA5E;
  padding: 10px;
  background: transparent;
  border: 1px solid #DEBA5E;
  border-radius: 5px;
}

.explor-ryoshi:hover{
  background-color: #DEBA5E;
  color:#1E1E1E ;
}

.icon-links {
  color:rgb(88, 88, 88);
  padding-top: 30px;
}

.icon {
  display: flex;
  gap: 14px;
}

.soicalicon {
  height: 32px;
  width: 32px;
}

.goldpaper-link {
  color: #DEBA5E;
}

.subtop {
  display: flex;
  color: aliceblue;
}

.pricing {
  display: flex;
  flex-wrap: wrap;
  color: rgb(88, 88, 88);
}

.holders {
  width: 300px;
}
